certifi==2024.12.14
charset-normalizer==3.4.0
idna==3.10
imageio==2.36.1
lazy_loader==0.4
networkx==3.4.2
numpy==2.2.0
opencv-python==4.10.0.84
packaging==24.2
pandas==2.2.3
pillow==11.0.0
pynrrd==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-image==0.25.0
scipy==1.14.1
six==1.17.0
tifffile==2024.12.12
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
xmltodict==0.14.2
